/* ==================================================================
    Header and Nav
================================================================== */

nav {
    display: inline-block;
	border-radius: 0rem 0rem 1rem 1rem;
	z-index: 10;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    padding-right: 1rem;
    padding-left:  1rem;
    margin-left: 6px;
    margin-right: 6px;
    transition: color 2s ease; }

header {
    position: sticky;
    top: 0rem; /* <------------------------ */
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;

    align-items: center; }

header .blog-name {
    width: 35%;
    display: inline-block;
    text-align: left;
    font-size: 1rem;
}

header .blog-name a {
    text-decoration: none; }

header li a:hover {
    border-bottom: 2px solid black; }

#menu-icon {
    display: none; }

@media (max-width: 480px) {
    header {
        padding-left: 6%;
        padding-right:6%;
    }
}

@media (min-width: 481px) {
    header {
        padding-left: 12.5%;
        padding-right: 12.5%; }
    }

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
    header {
        width: 800px;
        margin-left: auto;
        margin-right: auto; }
    }

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
    header {
		display: block;
	}
    nav {
        width: 100%; }
    }

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
    header {
        display: flex;
        align-items: start;
	}

    nav {
        display: inline-block;
        width: 30%;
	}
    nav ul, nav:active ul {
        display: none;
		margin: 0px;
		padding: 0px;
        border-radius: 4px 0 4px 4px;
        z-index: 1;}

    nav li {
        text-align: left;
        display: block;
	}

    nav:hover ul{
        display: block; }
    #menu-icon {
        display: inline-block;
        margin-right: 10px;
	}
}
