nav {
	background-color: hsl(238, 15%, 20%);
	border: 1px solid #400;
}

a {
	color: #ccb;
	border-color: rgba(100%, 100%, 100%, 0.1);
}

a:active {
  color: black;
}

body {
	color: hsl(12, 95%, 95%);
	background-color: hsl(238, 13%, 15%);
}

.language * {
	color: inherit;
	background-color: hsl(12, 21%, 13%);
}

.language-julia.hljs {
	color: #aad;
}

.language-julia {
	background-color: #010;
}

.language-css {
    background-color: #111;
    color: #999;
}

.language-html {
	background-color: #223;
	color: #aaa;
}

.hljs-built_in {
	color: #caa !important;
}

.hljs-keyword {
	color: #cc8833;
}

.hljs-string {
	color: #1cd;
}

.hljs-number {
	color: #abc;
}

.hljs-literal {
	color: #999;
}

.hljs-meta {
	color: #897;
}

.hljs-variable {
	color: #800;
}

.hljs-subst {
	color: #999;
}

.hljs-built_in {
	color: #acb;
}

.hljs-attribute {
	color: #adf;
}

.hljs-selector-tag {
	color: #c80;
}

.hljs-name {
	color: #8f8;
}

.hljs-tag {
	color: #88f;
}


.hljs-quote
{
	color: #998;
}

.language-xml.hljs{
	color: #9aa;
}

.tryit {
	color: hsl(9, 73%, 89%);
    background-color: hsl(9, 73%, 5%);
}
