nav {
	background-color: #eee;
	border: 1px solid #888;
}

a {
	color: black;
	background-color: inherit;
	border-color: rgba(0, 0, 0, 0.1);
}

a:active {
  color: green;
}

body {
	color: hsl(12, 100%, 5%);
	background-color: hsl(12, 11%, 80%);
}

.language * {
	color: black;
	background-color: inherit;
}

.language-julia.hljs {
	color: #011;
	background-color: #ede1fa;
}

.language-css {
	color: #223;
	background-color: #eff;
}

.language-html {
	color: #223;
	background-color: #baa;
}

.hljs-keyword {
	font-family: JuliaMono-Medium;
	color: #456;
}

.hljs-string {
	color: #123;
}

.hljs-number {
	color: #234;
}

.hljs-literal {
	color: #102;
}

.hljs-meta {
	color: #303;
}

.hljs-variable {
	color: #326;
}

.hljs-subst {
	color: #523;
}

.hljs-built_in {
	color: #212;
}

.hljs-attribute {
	color: #225;
}

.hljs-selector-tag {
	color: #561;
}

.hljs-name {
	color: #115;
}

.hljs-tag {
	color: #521;
}

.hljs-quote
{
	color: #998;
}

.language-xml.hljs{
	color: #333;
}

.tryit {
	color: hsl(9, 43%, 15%);
  background-color: hsl(9, 73%, 90%);
}
